<h1>Fell in love with <%=thingVariable.toUpperCase() %> </h1> 

<% if(thingVariable.toLowerCase() === "rusty"){ %>
    <p>GOOD CHOICE! RUSTY IS THE BEST!</p>
<% } else { %>
    <p>BAD CHOICE! YOU SHOULD HAVE SAID RUSTY!</p>
<% } %>

<!-- 
    <%= %>      RENDERED AND ADDED TO HTML
    <% %>       FOR ANY LOGIC OPERATIONS
 -->